{% load static %}

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>강의 후기 등록</title>
    <link rel="stylesheet" href="{% static 'css/review-form.css' %}" />
  </head>
  <body>
    <div class="mobile-container review-form-page">
      <header class="review-form-header">
        <button type="button" class="back-btn" id="backBtn">
          <img
                  src="{% static 'images/뒤로가기.svg' %}"
                  alt="뒤로가기"
                /> 
        </button>
        <h1>강의 후기 등록</h1>
      </header>

      <form class="review-form">
        <section class="rating-section">
          <div class="stars" id="stars">
            <span data-score="1">★</span>
            <span data-score="2">★</span>
            <span data-score="3">★</span>
            <span data-score="4">★</span>
            <span data-score="5">★</span>
          </div>
          <span class="score-text"> <span id="scoreValue">0</span> / 5 </span>
        </section>

        <section class="content-section">
          <textarea
            id="reviewContent"
            maxlength="1000"
            placeholder="이 강의에 대한 총평을 작성해주세요."
          ></textarea>
          <p class="count-text"><span id="contentCount">0</span> / 1,000</p>
        </section>

        <section class="input-section dropdown-section">
          <label for="lectureName">강의명</label>
          <input
            type="text"
            id="lectureName"
            placeholder="입력하기"
            autocomplete="off"
          />

          <ul class="dropdown-list" id="lectureDropdown"></ul>
        </section>

        <section class="input-section dropdown-section">
          <label for="semester">수강학기</label>
          <input
            type="text"
            id="semester"
            placeholder="입력하기"
            autocomplete="off"
            readonly
          />

          <ul class="dropdown-list" id="semesterDropdown"></ul>
        </section>

        <section class="notice-section">
          <p>
            ▲ 허위, 홍보, 저작권 침해, 명예훼손 내용을 작성할 경우, 서비스
            이용이 제한될 수 있습니다.
          </p>
          <p>
            ▲ 최근 5년 이내 수강한 과목에 대해서만 강의평을 작성할 수 있습니다.
          </p>
        </section>

        <button type="button" class="submit-btn" id="submitBtn" disabled>
          <svg width="22" height="22" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.5863 27H6C5.73478 27 5.48043 26.8946 5.29289 26.7071C5.10536 26.5196 5 26.2652 5 26V20.4137C5.00012 20.1489 5.10532 19.8949 5.2925 19.7075L20.7075 4.29248C20.895 4.10508 21.1493 3.99982 21.4144 3.99982C21.6795 3.99982 21.9337 4.10508 22.1213 4.29248L27.7075 9.87498C27.8949 10.0625 28.0002 10.3167 28.0002 10.5819C28.0002 10.847 27.8949 11.1012 27.7075 11.2887L12.2925 26.7075C12.1051 26.8947 11.8511 26.9999 11.5863 27Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17 8L24 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> 후기 작성
        </button>
      </form>
    </div>

    <script src="{% static 'js/review-form.js' %}"></script>
  </body>
</html>
